/* *! NAVBAR */

.link__dropdown {
  color: black;
}

.notification__icon {
  background: rgb(234, 234, 234);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.icon {
  left: 29%;
  bottom: 24%;
  width: 12px;
  opacity: 0.6;
}

.nav__icon {
  padding-right: 27px;
}

.user__big {
  width: 30px;
  height: 30px;
}

.user__small {
  width: 30px;
  height: 30px;
}

.user__big button {
  border: none;
  background: none;
  width: 100%;
  padding: 0px;
}

.user__big button:hover {
  background: none;
}

.email__user {
  color: gray;
}

.user__big img {
  width: 100%;
  border-radius: 50%;
}

.pixel__blue {
  width: 6px;
  height: 6px;
  background: blue;
  border-radius: 50%;
  top: 8%;
  left: 65%;
}

.pixel__verde {
  width: 6px;
  height: 6px;
  background: rgb(2, 220, 2);
  border-radius: 50%;
  bottom: 4px;
  left: 23px;
}

.pixel__verde__uno {
  width: 6px;
  height: 6px;
  background: rgb(2, 220, 2);
  border-radius: 50%;
  left: 35px;
  bottom: 4px;
}

.notification {
  cursor: pointer;
  transition: 1s;
}

.notification:hover {
  transform: rotate(360deg);
}

.menu__icon {
  margin-left: 25px;
  border-radius: 4px;
  border: 1px solid #704afe;
  color: #704afe;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.dropdown-menu[data-bs-popper] {
  left: -90px;
  width: 165px;
}

/*? WELCOME SECTION */

.welcome__student {
  width: 100%;
  /* height: 46vh; */
  background: #7550fe;
  /* display: -webkit-box;
    -webkit-box-orient: vertical; */
}

.title {
  width: 380px;
  height: 100%;
}

.title h2 {
  /* margin-top: 55px; */
  color: white;
}

.title p {
  color: rgb(200, 196, 196);
}
.title button {
  height: 40px;
  border: none;
  border-radius: 5px;
}

.button__course {
  background: #1acb98;
  color: white;
}

.send__button {
  background: #1acb98;
  color: white;
}

.send__button:hover {
  background: #1be8ae;
  color: white;
}

.modal__input input {
  border: 1px solid #1be8ae;
}

.modal-content {
  background: #f5f4f8;
}

.img__hero img {
  width: 100%;
  height: 100%;
}

.img__hero {
  /* width: 100%; */
  height: 100%;
}

/*? Information section */

.courses__icon {
  width: 45px;
  height: 45px;
  background: #ffeeda;
  border-radius: 50%;
}

.instruction__icon {
  width: 45px;
  height: 45px;
  background: #ffeeda;
  border-radius: 50%;
}

.access__icon {
  width: 45px;
  height: 45px;
  background: #ffeeda;
  border-radius: 50%;
}

.information__courses {
  width: 95%;
  padding-left: 20px;
}

.icon__information__courses {
  color: #c79255;
  top: 30%;
  left: 32%;
}

.information__courses h6 {
  margin: 0px;
}

.text__information {
  padding-left: 10px;
}

/*TODO  CARD SECTION*/

.background__contenitore__card {
  background: #f5f4f8;
  box-shadow: 0px -2px 5px #c3bfbf;
  padding-inline: 15%;
}

.recommended {
  width: 80%;
  padding-left: 5%;
  padding-top: 30px;
}

.cardd {
  min-width: 220px;
  max-width: 220px;
  height: auto;
  background: white;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: 0.4s;
  /* display: -webkit-box;
    -webkit-box-orient: vertical; */
}

.cardd img {
  aspect-ratio: 16/9;
  object-fit: cover;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.cardd p {
  margin-bottom: 2px;
}

.cardd:hover {
  box-shadow: 5px 5px 5px rgb(192, 192, 192);
  transform: scale(1.05);
  cursor: pointer;
}

.information__card h6 {
  margin-top: 20px;
}

.information__card p {
  padding-left: 21px;
}

.time__icon {
  width: 20px;
  height: 20px;
  bottom: 69%;
}

.signal__icon {
  bottom: 24px;
  width: 20px;
  height: 20px;
  left: 50%;
}

.stars__icon {
  color: #ffa944;
}

.stars__p {
  color: #ffa944;
  padding-left: 5px;
}

.stars h5 {
  margin-top: 15px;
}

.recensioni {
  color: rgb(175, 172, 172);
}

.stars s {
  color: gray;
}

.icon__signal__cellular {
  color: rgb(58, 58, 119);
}

.advance {
  bottom: 26px;
  left: 25px;
}

.user__space {
  margin-top: 30px;
  margin-bottom: 10px;
}

.small__img__user img {
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.name__user {
  font-size: 15px;
  color: rgb(129, 125, 125);
  width: 160px;
  bottom: 42px;
  left: 45px;
  font-size: 13px;
}

.nameUser p {
  margin: 0px;
}

.save__icon {
  fill: none;
  color: grey;
  stroke: grey;
  stroke-width: 10%;
  right: -4%;
  bottom: 6%;
  cursor: pointer;
}

.save__icon:hover {
  fill: grey;
}

.first__section {
  padding-top: 10%;
}

.second__section,
.third__section {
  margin-top: 30px;
}

.price {
  display: flex;
  align-items: baseline;
}

/*? CAROUSEL */

.button__carousel__prev,
.button__carousel__next {
  background: rgb(130, 129, 129);
  opacity: 0.5;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 50%;
}

.carousel-inner {
  padding: 45px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 1.1em;
}

/*! FOOTER */

.footer {
  margin-top: 10%;
}

.icon__footer {
  color: gray;
}

.footer span {
  color: gray;
}

.link__footer span {
  padding-inline: 15px;
}

/* User Dropdown */

.collapse__message {
  width: 200px;
  height: 190px;

  /* top: 106%; */
  padding: 0;
  border: none;
}

.profile {
  padding: 14px;
  border-bottom: 1px solid rgb(193, 189, 189);
  width: 100%;
}

.nameUser {
  width: 160px;
  bottom: 42px;
  left: 45px;
  bottom: -2px;
  font-size: 13px;
}

.settings span {
  padding-left: 5px;
  padding-bottom: 5px;
}

.out {
  height: 35px;
  border-top: 1px solid rgb(193, 189, 189);
}

.icons__collapse {
  margin-left: 21px;
}

.icon__out {
  margin-left: 21px;
  padding-right: 9px;
}

.button__up button {
  border-radius: 5px;
  background: #1acb98;
}

.button__up a {
  text-decoration: none;
  color: black;
}

.carousel-control-prev,
.carousel-control-next {
  background: rgb(158, 157, 157);
}
